// texts
    $primaryTextColor: black;

    $mainBcg: #000;
    $mainText: #FFF;

    $borderPrimaryColor: linear-gradient(106deg,#85C9BF,#576086, #A36FB2 95%);
// \\texts

// base colors
    $white: #FFF;
    $black: #000;
// \\ base colors

//shadows
    $shadowBlack: 0px 8px 15px 3px #0000000f;
// \\ shadows
